/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Azeret Mono", monospace ;
}

/* name and button section */

.name-container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1600px;
    margin-top: 38px;
    margin-bottom: 35px
}
.name-title{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600px;
    line-height: 20px;
}
.btn{
    background-color:white ;
    height: 50px;
    width: 200px;
    border-radius: 10px;.
    opacity: 0.8;
}
/* Future Developer */

.dev-future{
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
    width: 100%;
}
.dev-parent{
    text-align: center;
}
.img{
    height: 240px;
    width: 240px;
    margin-top: 26px;
}
.dev-title{
    margin: auto;
    width: 950px;
    height: 130px;
    color: rgb(13, 19, 33);
    font-size: 42px;
    font-weight: 800;
    line-height:68px ;
    text-align: center;
    margin-top: 32px;
}
.dev-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 850px;
    margin: auto;
    text-align: center;
    margin-top: 24px;
}

.btn-1{
    height: 65px;
    width: 240px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    font-weight: 600;
    margin-top: 32px;
}
.btn-1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* future developer part complete */

.web-dev-container{
    margin: 0 auto;
    height: 1400px;
    width: 1400px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin-top: 50px;
}

/* web dev content section */

.wev-dev-learn{
    padding: 80px 105px 80px 105px;
}
.dev-coding{
    padding: 40px 20px;
}
.web-dev-learn-title{
    margin: auto;
    height: 37px;
    /* width: 850px; */
    text-align: center;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 37px;
    font-size: 32px;
}
.web-dev-learn-description{
    margin: auto;
    text-align: center;
    height:45px;
    font-family: 400;
}

.dev-coding-main{
    margin: auto;
    width: 1350px;
    height: 340px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.dev-coding-title{
    width: 500px;
    height: 90px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.dev-coding-description{
    width: 500px;
    line-height: 30px;
    font-weight: 400;
}
.btn-container{
    padding-top: 45px;
    
}
.btn-2{
    height: 45px;
    width: 170px;
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
    opacity: 0.7;
    border-radius: 7px;
}
.btn-2 a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-weight:600 ;
}
.image-dev{
    padding: 45px 200px 0px 0px;
}
.dev-world-main{
    margin: auto;
    width: 1350px;
    height: 340px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 30px;
    display: flex;
}
.image-world{
    padding: 40px 100px 0px 40px;
}

/* inspiration section */

.inspiration{
    margin-top: 90px;
    text-align: center;
}
.inspiration-title{
    margin: auto;
    width: 850px;
    height: 37px;
    font-weight: 800;
    color: #0D1321;
    font-size: 32px;
}
.inspiration-description{
    margin: auto;
    height: 52px;
    width: 850px;
    color: 0D1321;
    padding-top: 24px;
    font-weight: 400;
}
/* video section */
.yt-video{
    margin: 0 auto;
    text-align: center;
}
.yt-video iframe{
    width: 1100px;
    margin-top: 300px;
    border:  1px solid rgba(13, 19, 33, 0.2);
    padding:  20px;
    border-radius: 20px;
}
/* my current target section */

.current-container{
    margin: auto;
    height: 500px;
    width: 1400px;
    background-color: #FFFFFF;
}
.current-title{
    margin: 0 auto;  
    margin-top: 150px;
    text-align: center;
    color: #0D1321;
    height: 35px;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
}
.current-discription{
    margin: auto;
    color: #0D1321;
    width: 850px;
    height: 50px;
    opacity: 0.7;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
}

.skill-main-container{
    margin-top:50px ;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.skill{
    height: 300px;
    width: 370px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}
.skills-content{
    padding: 40px;
}
.skills-title{
    padding-top: 24px;
    color: #0D1321;
    height: 36px;
    width: 300px;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.skills-discription{
    width: 290px;
    height: 50px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
    text-align: left;
}
.skills-anchor {
    margin-top:40px;
    width: 290px;
    height: 20px;
    font-size: 16px; 
    font-weight: 700;
    text-align: left;
}
.skills-anchor a{
    color: #0D1321;
}

.skill-1{
    height: 300px;
    width: 370px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}


.skill-2{
    background-color: rgba(255, 223, 0, 0.05);
    height: 300px;
    width: 370px;
    border-radius: 16px;
}


/*  my next target */

.dev-next{
    width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.dev-next-title{
    margin: auto;
    width: 850px;
    height: 40px;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-top: 115px;
}
.dev-next-description{
    margin: auto;
    color: rgb(13, 19, 33);
    width: 850px;
    height: 50px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 25px;
}

.next-container{
    margin: auto;
    display: flex;
    width: 1400px;
    height: 220px;
    background-color: rgb(255, 255, 255) ;
    border:  1px solid rgba(13, 19, 33, 0.15);
    align-items: center;
    margin-top: 50px;
}
.next-img{
    padding-left: 40px;
    padding-top: 60px;
}

.main-contain{
    padding-left: 50px;
}
.main-title{
    height: 36px;
    line-height: 36px;
    font-weight: 800;
    font-size: 24px;
    color:rgb(13, 19, 33) ;
    padding-top: 40px;
}
.main-discription{
    width: 930px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top:50px;
    opacity: 0.7;
}
.main-anchor{
    padding-top: 65px;
    font-weight: 700;
    color:rgb(13, 19, 33);
    font-size: 16px;
    line-height: 26px;
}
.main-anchor a{
    color:rgb(13, 19, 33) ;
}

/* Support Section */

.support-container{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.799), rgba(0, 0, 0, 0.552)), url("../assets/handshake.jpg") ;
    height: 320px;
    width: 1400px;
    background-size: cover;
    border-radius: 16px;
    margin: auto;
    margin-top:40px ;
    text-align: center;
}
.support-child{
    text-align: center;
}

.support-title{
    margin: auto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    width: 450px;
    height: 35px;
    padding-top: 64px;
}

.support-description{
    padding-top: 60px;
    width: 600px;
    height: 50px;
    margin: auto;
    opacity: 0.7;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.feedback{
    padding-top: 80px;
    width: 700px;
    height: 100px;
    margin: auto;
    text-align: center;
}
.feedback-text{
    border-radius: 8px;
    font-size: 18px;
    height: 60px;
    width: 550px;
    line-height: 19px;
    font-weight: 400;
    padding-left: 20px;
}
.feedback-btn{
    height: 60px;
    width: 120px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
}

/* footer section */

.personal-container{
    margin-top: 80px;
    width: 100%;
    height: 100px;
    background-color:rgba(13, 19, 33, 0.03) ;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personal-infosec{
    padding: 32px 150px;
}
.personal-infosec img{
   margin: 0px 10px;
}
.personal-child{
    padding: 32px 150px;
}
.personal-info{
    padding: 32px 150px;
}